<!DOCTYPE html>
<html>
<head>
	<title>It is our first flask doc</title>
</head>
<body bgcolor="f8cdc4">

<H1>This lesson is possible thanks </H1>

<center><img src="https://www.hse.ru/data/2014/06/25/1309038203/logo_%D1%81_hse_cmyk_e.jpg" align="bottom" width=100, height=100> </center>




<div class='first_link'> <a href='./page2'> Another html template here </a></div>


<div> <a href='./graph'> Here link to the result of data analysis results in html </div>

<div> <a href='./greet'> Tap here to greet You </div>


</body>
</html>